# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Testing
/coverage

# Next.js build output
/.next/
/out/

# Production
/build
/dist

# Misc
.DS_Store
*.pem

# Local env files (NEVER commit secrets)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel & Supabase local
.vercel
.supabase

# TypeScript cache
*.tsbuildinfo
next-env.d.ts
